body {
    font-family: Arial, sans-serif;
    background-color: #2e2e2e; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 20px;
    text-align: center;
}

h1 {
    color: #ff4d4d; 
}

#instructions {
    margin: 15px 0;
    font-size: 19px;
    color: #66ff66; 
}

#gameplay {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#playButton {
    margin: 10px 0;
}

button {
    background-color: #66ff66; 
    color: #2e2e2e;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#arrowKeys {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px;
    background-color: #2e2e2e;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 100px;
    max-height: 100px;
    justify-content: center;
    border: 2px solid #ff4d4d; 
    align-self: flex-end;
}

.arrows {
    border: 1px solid #66ff66;
    padding: 5px;
    font-size: 1.6rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.arrows.active {
    background-color: #ff4d4d;
    color: #2e2e2e ;
    border-color: black;
}


.break {
    flex-basis: 100%;
    height: 0;
}

#playArea {
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
    height: 400px;
    background-color: #2e2e2e;
    border: 2px solid #ff4d4d; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    margin-right: 100px;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    color: #ff4d4d;
}

footer p {
    margin: 0;
}
